# Directories
build/
*.class
bin/
target/
libs/
tmp/
node_modules/

# OS Files
.DS_Store
Thumbs.db
Desktop.ini
.svn
._*

# Package Files
*.jar
*.war
*.ear
*.db
rebel.xml

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# IDEA
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Testing environment specific
derby.log
